@font-face{
	font-family: 'Crimson Text';
	src: url('CrimsonText.ttf');
}
html	{
	font-family: 'Crimson Text', serif;
	font-size: 11pt;
}
body{
	width: 480px;
	margin: auto;
}
body > h1{
	text-align: center;
}
h2{
	color: orangered;
	margin-bottom: 0;
	font-size: 16pt;
}

a:link{
	
	color: dodgerblue;
}
h2+a:link{
	
	font-weight: bold;
}
h3{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10pt;
}
p{
	margin: 0;
}
output h1 {
	background-color: orangered;
	text-indent: 5px;
	color:white;
	font-size: 18pt;
}
.loader {
	border: 6px solid #f3f3f3;
	border-radius: 50%;
	border-top: 6px solid orangered;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
